<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
      https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
      * Enable inline JS: add 'unsafe-inline' to default-src
  -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">

  <meta name="theme-color" content="#ff5733">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <title>drinkIT</title>
  <% if (process.env.TARGET === 'web') { %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="static/icons/apple-touch-icon.png">
  <link rel="icon" href="static/icons/favicon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="path/to/framework7-icons.css">
  <% } %>
  <!-- built styles file will be auto injected -->
</head>

<body>
  <div id="app">
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>
    <!-- Left panel with cover effect-->
    <div class="panel panel-left panel-cover theme-dark">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="title">Spieler</div>
            </div>
          </div>
          <div class="page-content">

            <br />
            <!-- Buttons zum hinzufügen von Spielern -->
            <div class="row">
              <div class="col">
                <button id="add-player-button" href="#" class="button"><i class="f7-icons">add_round</i></button>
              </div>
              <div class="col">
                <button id="remove-player-button" href="#" class="button"><i class="f7-icons">delete_round</i></button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button id="test-button" href="#" class="button">Spieleranzahl: </button>
              </div>
            </div>

            <!-- Standard Spieler Felder (4) -->
            <div class="list no-hairlines-md">
              <ul id="player-list">
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <input type="text" placeholder="Spieler">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <input type="text" placeholder="Spieler">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <input type="text" placeholder="Spieler">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <input type="text" placeholder="Spieler">
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right panel with reveal effect
    <div class="panel panel-right panel-reveal theme-dark">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="title">Right Panel</div>
            </div>
          </div>
          <div class="page-content">
            <div class="block">Right panel content goes here</div>
          </div>
        </div>
      </div>
    </div>-->

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main view-init safe-areas" data-url="/"></div>


    <!-- Popup -->
    <div class="popup" id="warnhinweis">
      <div class="view">
        <div class="page">

          <div class="navbar">
            <div class="navbar-inner">
              <div class="title">Warnhinweis</div>
            </div>
          </div>

          <div class="page-content">
            <div class="block">
              <p>Hiermit bestätige ich, dass ich 18 Jahre alt bin und für das Benutzen der App die volle Verantwortung
                übernehme</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div class="col-80">
                <button href="#" class="button button-fill popup-close">Aktzeptieren</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% if (process.env.TARGET === 'cordova') { %>
  <script src="cordova.js"></script>
  <% } %>
  <script>

    updatePlayerCount(); //Spieleranzahl beim laden der Seite ermitteln

    document.getElementById("test-button").onclick = function () {
      //console.log(getPlayers());      
    }

    document.getElementById("add-player-button").onclick = function () {
      addPlayerFunction();
      updatePlayerCount();
    };

    document.getElementById("remove-player-button").onclick = function () {
      removePlayerFunction();
      updatePlayerCount();
    };

    function addPlayerFunction() {
      var btn = document.createElement("li");
      btn.innerHTML =
        '<li class="item-content item-input"><div class="item-inner"><div class="item-input-wrap"><input type="text" placeholder="Spieler"><span class="input-clear-button"></span></div></div></li>'; // Insert text
      document.getElementById("player-list").appendChild(btn);
    }

    function removePlayerFunction() {
      if (getPlayerCount() > 2) {
        var select = document.getElementById("player-list");
        select.removeChild(select.lastElementChild);
      }
    }

    function getPlayers() {
      var allInputs = document.querySelectorAll("input");
      var counter = 0;
      var players = [];
      allInputs.forEach(function (element) {
        //console.log(element.value);
        if (element.value != "") {
          players[counter] = element.value;
          counter++;
        }
      });
      return players;
    }

    function updatePlayerCount() {
      document.getElementById("test-button").innerText = "Spieleranzahl: " + getPlayerCount();
    }

    function getPlayerCount() {
      var allInputs = document.querySelectorAll("input");
      var counter = 0;
      allInputs.forEach(function (element) {

        //Wenn nur gefüllte Spielereinträge beachtet werden sollen.
        // if (element.value != "") {
        //   counter++;
        // }

        //Wenn nur Felder gezählt werden sollen
        counter++;

      });
      return counter;
    }
  </script>
  <!-- built script files will be auto injected -->
</body>

</html>